@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: black;
    background: white;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

@layer components {
    section {
        @apply py-32 px-16;
    }
    .nav-li {
        @apply font-semibold text-[1.7rem] text-[#2d2e32] hover:cursor-pointer hover:text-font-blue transition-colors;
    }
    .stack-li {
        @apply bg-white w-[6.5rem] h-[6.5rem] rounded-full shadow-[0_0_10px_rgba(0,0,0,0.09)];
    }
    .section-title {
        @apply text-font-blue text-[1.7rem] font-[700] mb-4 text-center;
    }
    .section-header {
        @apply text-[#2d2e32] text-[2.5rem] font-bold mb-8 text-center;
    }
}
@layer base {
}
