@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: black;
    background: white;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

@layer components {
    section {
        @apply py-[15rem] px-16 dark:bg-slate-900;
    }
    .nav-li {
        @apply font-semibold text-[1.7rem] text-[#2d2e32] dark:text-white hover:cursor-pointer hover:text-font-blue transition-colors;
    }
    .stack-li {
        @apply relative bg-white w-[6.5rem] h-[6.5rem] rounded-full shadow-[0_0_10px_rgba(0,0,0,0.09)] flex justify-center items-center transition-all hover:translate-y-[-20px];
    }
    .section-title {
        @apply text-font-blue text-[1.7rem] font-[700] mb-4 text-center lg:text-left;
    }
    .section-header {
        @apply text-[#2d2e32] dark:text-white text-[2.5rem] font-bold mb-8 text-center lg:text-left;
    }
    .project-card {
        @apply bg-white dark:bg-slate-700 dark:text-white w-fit h-auto lg:h-[75rem] lg:w-full lg:h-[40rem] p-8 gap-12 lg:gap-32 flex flex-col lg:flex-row rounded-[1.7rem] shadow-[0_0_10px_rgba(0,0,0,.1)];
    }
    .project-card-left {
        @apply project-card;
    }
    .project-card-right {
        @apply project-card flex-col lg:flex-row-reverse;
    }
}
@layer base {
}
